body{
    margin: 0px;
}


@media screen and (max-width: 500px) {
   #indexwraper{
    display: grid;
    width: 100vw;
    height: 1000vh;
    gap: 1vh;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows:20vh 70vh 40vh 40vh 10vh 20vh;
    grid-template-areas: 
    'hd hd hd'
    'gf gf gf'
    'imga imgb imgc'
    'ar ar ar'
    'c1 c1 c1'
    'c2 c2 c2'
    'c3 c3 c3'
    'sb sb sb';
}  


.menu{
    height: 100vh;
    width: 80vw;
    background: cornflowerblue;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}

.menu-button{
    cursor: pointer;
    display: inline;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}


@media (max-width: 600px) {
    body{
        background-color: aliceblue;
    }
    p{
        color:red;
    }
}

@media (min-width: 800px) {  
    
}

}
#header{
    grid-area: hd;
    background-color: blueviolet;
    position: sticky;
    top: 0;
    padding: 10px 16px;
}

#gif{
    grid-area: gf;
    background-color: purple;
    padding: 10px;
    height: ;
}

.imga{
    grid-area: imga;
    background-color: red;
    height: 100%;
}

#imgb{
    grid-area: imgb;
    background-color: turquoise;
}

#imgc{
    grid-area: imgc;
    background-color: orange;
}
   
#article{
    grid-area: ar;
    background-color: pink;    
}


.Card1{
background-color: black;
}

#botten{
    grid-area: sb;
    background-color: green;
}